--
-- PostgreSQL database dump
--

\restrict hwNtZPaPbXtNgTNpH9ePd9R6udCyZyLBsWMiTPjPFcEqmn6yS0JFa8S6X4xpo6c

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS '';


--
-- Name: insertar_carrera_segura(text, integer, text, text, character varying, integer, numeric, numeric, numeric, numeric, numeric, numeric, numeric, numeric); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.insertar_carrera_segura(nombre_univ text, region_id integer, region_nombre text, nombre_carrera text, codigo_demre_param character varying, vacantes integer, puntaje_min numeric, notas numeric, ranking numeric, leng numeric, mate1 numeric, mate2 numeric, cien numeric, hist numeric) RETURNS void
    LANGUAGE plpgsql
    AS $$
DECLARE
    univ_id INTEGER;
BEGIN
    -- Buscar universidad o crearla si no existe
    SELECT id INTO univ_id FROM universidades WHERE nombre ILIKE nombre_univ;

    IF univ_id IS NULL THEN
        INSERT INTO universidades (nombre, region)
        VALUES (nombre_univ, region_nombre)
        RETURNING id INTO univ_id;
    END IF;
    INSERT INTO carreras (nombre, codigo_demre, vacantes, universidad_id)
    VALUES (nombre_carrera, codigo_demre_param, vacantes, univ_id)
    ON CONFLICT ON CONSTRAINT ux_carrera_univ DO NOTHING;

EXCEPTION
    WHEN unique_violation THEN
        RAISE NOTICE 'La carrera % ya existe para la universidad %', nombre_carrera, nombre_univ;
END;
$$;


ALTER FUNCTION public.insertar_carrera_segura(nombre_univ text, region_id integer, region_nombre text, nombre_carrera text, codigo_demre_param character varying, vacantes integer, puntaje_min numeric, notas numeric, ranking numeric, leng numeric, mate1 numeric, mate2 numeric, cien numeric, hist numeric) OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO postgres;

--
-- Name: carreras; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carreras (
    id integer NOT NULL,
    nombre text NOT NULL,
    codigo_demre integer,
    duracion integer,
    vacantes integer,
    arancel integer,
    universidad_id integer,
    area character varying
);


ALTER TABLE public.carreras OWNER TO postgres;

--
-- Name: carreras_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.carreras_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.carreras_id_seq OWNER TO postgres;

--
-- Name: carreras_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.carreras_id_seq OWNED BY public.carreras.id;


--
-- Name: ponderaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ponderaciones (
    id integer NOT NULL,
    carrera_id integer NOT NULL,
    w_lenguaje numeric(5,2) DEFAULT 0 NOT NULL,
    w_matematicas numeric(5,2) DEFAULT 0 NOT NULL,
    w_matematicas2 numeric(5,2) DEFAULT 0 NOT NULL,
    w_ciencias numeric(5,2) DEFAULT 0 NOT NULL,
    w_historia numeric(5,2) DEFAULT 0 NOT NULL,
    w_nem numeric(5,2) DEFAULT 0 NOT NULL,
    w_ranking numeric(5,2) DEFAULT 0 NOT NULL
);


ALTER TABLE public.ponderaciones OWNER TO postgres;

--
-- Name: ponderaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ponderaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ponderaciones_id_seq OWNER TO postgres;

--
-- Name: ponderaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ponderaciones_id_seq OWNED BY public.ponderaciones.id;


--
-- Name: puntajes_corte; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.puntajes_corte (
    id integer NOT NULL,
    carrera_id integer NOT NULL,
    puntaje_minimo numeric(6,2) NOT NULL,
    ano integer NOT NULL
);


ALTER TABLE public.puntajes_corte OWNER TO postgres;

--
-- Name: puntajes_corte_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.puntajes_corte_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.puntajes_corte_id_seq OWNER TO postgres;

--
-- Name: puntajes_corte_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.puntajes_corte_id_seq OWNED BY public.puntajes_corte.id;


--
-- Name: simulaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.simulaciones (
    id integer NOT NULL,
    carrera_id integer,
    puntaje_lenguaje numeric(6,2),
    puntaje_matematicas numeric(6,2),
    puntaje_matematicas2 numeric(6,2),
    puntaje_ciencias numeric(6,2),
    puntaje_historia numeric(6,2),
    puntaje_nem numeric(6,2),
    puntaje_ranking numeric(6,2),
    puntaje_total numeric(7,2) NOT NULL,
    fecha_simulacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.simulaciones OWNER TO postgres;

--
-- Name: simulaciones_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.simulaciones_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.simulaciones_id_seq OWNER TO postgres;

--
-- Name: simulaciones_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.simulaciones_id_seq OWNED BY public.simulaciones.id;


--
-- Name: universidades; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.universidades (
    id integer NOT NULL,
    nombre character varying(200) NOT NULL,
    acreditacion integer,
    sitio_web character varying(255),
    direccion character varying(255),
    latitud numeric(10,7),
    longitud numeric(10,7),
    region character varying(100),
    tipo_acreditacion character varying(50)
);


ALTER TABLE public.universidades OWNER TO postgres;

--
-- Name: universidades_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.universidades_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.universidades_id_seq OWNER TO postgres;

--
-- Name: universidades_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.universidades_id_seq OWNED BY public.universidades.id;


--
-- Name: vista_carreras_completa; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vista_carreras_completa AS
 SELECT u.nombre AS universidad,
    c.nombre AS carrera,
    c.codigo_demre,
    c.vacantes,
    c.arancel,
    c.duracion,
    p.w_lenguaje,
    p.w_matematicas,
    p.w_matematicas2,
    p.w_ciencias,
    p.w_historia,
    p.w_nem,
    p.w_ranking,
    pc.puntaje_minimo,
    pc.ano
   FROM (((public.carreras c
     LEFT JOIN public.universidades u ON ((u.id = c.universidad_id)))
     LEFT JOIN public.ponderaciones p ON ((p.carrera_id = c.id)))
     LEFT JOIN public.puntajes_corte pc ON ((pc.carrera_id = c.id)));


ALTER VIEW public.vista_carreras_completa OWNER TO postgres;

--
-- Name: carreras id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carreras ALTER COLUMN id SET DEFAULT nextval('public.carreras_id_seq'::regclass);


--
-- Name: ponderaciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ponderaciones ALTER COLUMN id SET DEFAULT nextval('public.ponderaciones_id_seq'::regclass);


--
-- Name: puntajes_corte id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.puntajes_corte ALTER COLUMN id SET DEFAULT nextval('public.puntajes_corte_id_seq'::regclass);


--
-- Name: simulaciones id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.simulaciones ALTER COLUMN id SET DEFAULT nextval('public.simulaciones_id_seq'::regclass);


--
-- Name: universidades id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.universidades ALTER COLUMN id SET DEFAULT nextval('public.universidades_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.alembic_version (version_num) FROM stdin;
777a6faeac9e
\.


--
-- Data for Name: carreras; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ponderaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: puntajes_corte; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: simulaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.simulaciones (id, carrera_id, puntaje_lenguaje, puntaje_matematicas, puntaje_matematicas2, puntaje_ciencias, puntaje_historia, puntaje_nem, puntaje_ranking, puntaje_total, fecha_simulacion) FROM stdin;
\.


--
-- Data for Name: universidades; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: carreras_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.carreras_id_seq', 1750, true);


--
-- Name: ponderaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ponderaciones_id_seq', 835, true);


--
-- Name: puntajes_corte_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.puntajes_corte_id_seq', 879, true);


--
-- Name: simulaciones_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.simulaciones_id_seq', 1, false);


--
-- Name: universidades_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.universidades_id_seq', 582, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: carreras carreras_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carreras
    ADD CONSTRAINT carreras_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict hwNtZPaPbXtNgTNpH9ePd9R6udCyZyLBsWMiTPjPFcEqmn6yS0JFa8S6X4xpo6c

